.list {
  display: flex;
  flex-direction: column;

  gap: 2em;
}

.header {
  display: flex;
  gap: 1em;
  align-items: center;

  input {
    flex: 1;
  }
}

.message {
  text-align: center;
}

.filter {
  display: flex;
  gap: 1em;
  align-items: center;

  &_left {
    margin-right: auto;
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  overflow-y: auto;
  padding-bottom: 2em;
  flex: 1;
  padding-right: 1em;
}
