.marker {
  position: relative;
  background-color: red;
  width: 3rem;
  height: 3rem;
  transform: rotate(45deg) translateY(-50%);
  border-radius: 50% 50% 0 50%;
  &::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}

.hidden {
  display: none;
}
