.card {
  border-radius: 1rem;
  height: 100%;
  overflow: hidden;
  border: 1px solid var(--color-light);
  background-color: var(--color-medium);
  cursor: pointer;
  display: flex;
  flex-direction: column;

  &_img {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1; /* defining the aspect ratio of the image */
      object-fit: cover;
      object-fit: cover;
      object-position: center;
      transition: all 0.3s;
    }
  }
}

.text {
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  position: relative;

  h2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.actions {
  padding-top: 1em;
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  margin-top: auto;
}

.rating {
  padding: 0.25em 1em;
  background-color: var(--color-dark);
  border-radius: 1.5em;
  border: 2px solid var(--color-light);
  display: flex;
  align-items: center;
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(-20%, -50%);

  img {
    width: 1em;
    height: auto;
  }
}
