$text-color-secondary: #a9aeb8;
$text-color-primary: #0d2e5e;

.nav {
  max-width: 400px;
  width: 40%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  position: relative;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    padding: 3rem 0 2rem;

    &_icon {
      fill: $text-color-secondary;
      cursor: pointer;
      font-size: 3rem;
    }
    &_title {
      color: $text-color-primary;
      font-size: 2.4rem;
      padding: 2rem 1rem;
    }
  }

  &-search {
    position: relative;
    margin-bottom: 1rem;
    &_field {
      width: 100%;
      font-size: 1.8rem;
      color: $text-color-secondary;
      padding: 0.25em 0;
      border: none;
      border-bottom: 1px solid;
    }
    &_icon {
      position: absolute;
      right: 0%;
      top: 50%;
      font-size: 3rem;
      transform: translate(0%, -50%);
    }
  }

  &-filter {
  }

  &-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  &-loading {
    flex: 1;
    display: grid;
    place-items: center;
  }
}
