.rating {
  h3 {
    padding-bottom: 1em;
  }

  &_body {
    display: flex;
    gap: 2em;
    align-items: center;
  }
}

.ratings {
  &_item {
    display: flex;
    gap: 1em;
    align-items: center;

    label {
      width: 1em;
      text-align: center;
    }
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  align-items: center;
}
.stars {
  display: flex;
  img {
    height: 1em;
  }
}
