.btn {
  padding: 1em;
  border: none;
  border-radius: 1em;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  cursor: pointer;
}
