.btn {
  padding: 1em;
  border: 2px solid var(--color-light);
  border-radius: 1em;
  background-color: var(--color-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
  }
}
