:root {
  --color-primary: #0091ff;
  --color-dark: #0c1015;
  --color-medium: #16202f;
  --color-light: #39414e;

  --color-heading: #fff;
  --color-body: #8b9097;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  height: 100%;
  font-size: 1.6rem;
  color: var(--color-heading);
  background-color: var(--color-dark);
  font-family: "Poppins", sans-serif;
}

section {
  display: flex;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.5em;
}

p {
  color: var(--color-body);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-heading);
  transition: all 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 85, 85);
}
